<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="mapChallengeClientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MapCtrl">
      <div class="header">
        <h3 class="text-muted">map explorer</h3>
      </div>

      <div class="row">
        <div class="col-md-7 col-md-offset-1 mapSection">
          <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-layer namespace="visualization" type="HeatmapLayer" onCreated="map.heatLayerCallback"></ui-gmap-layer>
            </ui-gmap-layer>
            <ui-gmap-markers models="hubs" coords="'location'" click="'onClicked'" icon="'icon'">
            </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>

        <div class="col-md-4 mapControlSection">
          <div class="mapControl">
            <label class="control-label">START DATE</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="startPicker.date" is-open="startPicker.opened" min-date="'2014-03-01'" max-date="'2014-03-30'" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startPicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>

          <div class="mapControl">
            <label class="control-label">END DATE</label>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="endPicker.date" is-open="endPicker.opened" min-date="'2014-03-01'" max-date="'2014-03-30'" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endPicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>

          <div class="help">
            click the <img src="images/restaurant-select.png"> icon to toggle the hub
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-md-offset-1 statSection">
          <div class="row">
            <div class="col-md-3 col-md-offset-3 stat text-muted"><span class="statNumber">{{totalOrders}}</span> orders</div>
            <div class="col-md-4 stat text-muted"><span class="statNumber">{{totalItems}}</span> items</div>
          </div>
        </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/map.js"></script>
        <!-- endbuild -->
</body>
</html>
