<ui-gmap-google-map center="map.center" zoom="map.zoom">
  <ui-gmap-layer namespace="visualization" type="HeatmapLayer" onCreated="map.heatLayerCallback"></ui-gmap-layer>
  </ui-gmap-layer>
  <ui-gmap-markers models="hubs" coords="'location'" click="'onClicked'" icon="'icon'">
  </ui-gmap-markers>
</ui-gmap-google-map>

<p class="input-group">
  <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="startPicker.date" is-open="startPicker.opened" min-date="'2014-03-01'" max-date="'2014-03-30'" close-text="Close" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="startPicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>

<p class="input-group">
  <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="endPicker.date" is-open="endPicker.opened" min-date="'2014-03-01'" max-date="'2014-03-30'" close-text="Close" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="endPicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>

<h3 class="text-muted">{{totalOrders}} orders</h3>
<h3 class="text-muted">{{totalItems}} items</h3>
